<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/banking}" method="post">

    <div>
        <label for="">ID!</label>
        <input type="text" name="senderId">
    </div>

    <div>
        <label for="">ID2</label>
        <input type="text" name="receiveId">
    </div>

    <div>
        <label for="">Money</label>
        <input type="text" name="amount">
    </div>

    <button type="submit">Chuyen</button>
</form>
</body>
</html>